@media screen and(min-width: 610px) {

	header[role="banner"] {

		h1 {
			font-size: 4em;
		}

		h2 {
			font-size: 2.5em;
		}
	}

	.design-selection {
		float: right;
		width: 50%;
	}

	 .zen-archives {
	 	height: 100%;
	 	width: 50%;
	}

	.zen-resources {
		height: 518px;
	}
}