/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* TEXT STYLING BELOW - INCLUDES HIGHLIGHT OPTIONS AND ABBREVIATIONS */
h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, abbr::selection {
  color: #63e9fc;
  background: black;
  text-shadow: 1px 1px 0 #eb485b, 2px 2px 0 #eb485b; }

h1, h2, h3, h4, h5, h6 {
  font-family: "bebas-neue", "oswald", sans-serif;
  margin: 1.3em 0 .5em;
  text-transform: uppercase;
  text-shadow: -1px -1px 0px #63e9fc, -2px -2px 0px #63e9fc; }

h1 {
  font-size: 4em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 1.75em; }

p, a, li {
  font-family: "source code pro", monotype;
  font-style: italic;
  font-weight: 400;
  line-height: 1.25em; }
  p::selection, a::selection, li::selection {
    color: #96ffa4;
    background: black; }

a {
  color: #eb485b;
  text-decoration: none; }
  a:hover {
    color: #b91427;
    animation: flicker .25s linear infinite; }

/* ANIMATIONS */
@keyframes flicker {
  0% {
    opacity: 0; }
  15% {
    opacity: 1; }
  38% {
    opacity: 0; }
  52% {
    opacity: 1; }
  67% {
    opacity: 0; }
  74% {
    opacity: 1; }
  88% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* BASE STYLING - ALSO APPLIES TO X-SMALL SCREENS (sub 444px) */
header[role="banner"] {
  display: block; }
  header[role="banner"]::after {
    content: "";
    background: url(../images/code_img.png);
    background-attachment: fixed;
    background-position: cover;
    bottom: 0;
    height: 385px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1; }
  header[role="banner"] h1, header[role="banner"] h2 {
    color: #000;
    font-weight: 800;
    margin: none;
    text-align: center;
    text-shadow: none; }
  header[role="banner"] h1 {
    font-size: 2.8em;
    line-height: .5em; }
    header[role="banner"] h1::before {
      content: url("../images/barcode.svg");
      display: block;
      position: relative;
      box-sizing: border-box;
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      margin: 0 auto;
      max-width: 9em; }
  header[role="banner"] h2 {
    font-size: 1.7em;
    margin: 0 auto;
    padding: 0 0 .5em 0; }

h3 {
  font-size: 1.6em; }

.summary {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 1em 0;
  background: #eb485b; }
  .summary a {
    color: #fff; }
    .summary a:hover {
      color: #39164c; }

div[role="article"] {
  padding: 1.5em;
  box-sizing: border-box; }

.preamble, .participation, .requirements, .design-archives, .main {
  box-sizing: border-box;
  animation: flicker .5s linear 2; }

div[class="explanation"] {
  background: #39164c;
  color: #fff; }

.participation::before {
  display: block;
  content: "";
  background: url(../images/malicious.png);
  background-attachment: fixed;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  bottom: 0;
  height: 180px; }

.benefits::after {
  display: block;
  content: "";
  background: url(../images/code_img2.png);
  background-attachment: fixed;
  background-position: cover;
  bottom: 0;
  height: 200px; }

footer {
  background: #333;
  padding: 1.25em 0;
  text-align: center; }
  footer a {
    margin: .25em; }

.main::after {
  display: block;
  content: "";
  background: url(../images/kolnludwig.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  bottom: 0;
  height: 180px; }

.design-selection {
  background: #ed5a6b;
  box-sizing: border-box;
  padding: 1.25em; }
  .design-selection li {
    border-box: box-sizing;
    margin: 0 auto;
    padding: 1em; }
    .design-selection li:nth-of-type(1) {
      background: #d9d9d9; }
    .design-selection li:nth-of-type(2) {
      background: #cccccc; }
    .design-selection li:nth-of-type(3) {
      background: #bfbfbf; }
    .design-selection li:nth-of-type(4) {
      background: #b3b3b3; }
    .design-selection li:nth-of-type(5) {
      background: #a6a6a6; }
    .design-selection li:nth-of-type(6) {
      background: #999999; }
    .design-selection li:nth-of-type(7) {
      background: #8c8c8c; }
    .design-selection li:nth-of-type(8) {
      background: gray; }

.design-archives, .zen-resources {
  background: #dbf52b;
  box-sizing: border-box;
  padding: 1.25em; }

/* STYLING FOR MEDIUM SCREEN WIDITHS */
@media screen and (min-width: 444px) {
  header[role="banner"] h1, header[role="banner"] h2 {
    color: #000;
    margin: none;
    text-shadow: none; }
  header[role="banner"] h1 {
    font-size: 2.8em; }
  header[role="banner"] h2 {
    font-size: 1.7em; } }
@media screen and (min-width: 610px) {
  header[role="banner"] h1 {
    font-size: 4em; }
  header[role="banner"] h2 {
    font-size: 2.5em; }

  .design-selection {
    float: right;
    width: 50%; }

  .zen-archives, .design-archives {
    height: 100%;
    width: 50%; }

  .zen-resources {
    height: 518px; } }
@media screen and (min-width: 767px) {
  div[role="article"] {
    float: left;
    width: 60%; }

  footer {
    clear: left;
    width: 60; }

  .design-selection {
    width: 40%; }

  #zen-summary {
    width: 100%; } }

/*# sourceMappingURL=main.css.map */
