/* BASE STYLING - ALSO APPLIES TO X-SMALL SCREENS (sub 432px) */


header[role=banner] {
	padding: 5em .5em 1em .5em;

	h1, h2 {
		color: #000;
		margin: none;
		text-align: center;
		text-shadow: none;
	}

	h1 {
		font-size: 2.8em;

		&::before {
			content: url("images/barcode.svg");
			max-width: 5em;
		}
	}

	h2 {
		font-size: 1.7em;
	}
}

h3 {
	font-size: 1.6em;
}

.summary {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 1em 0;
	background: $secondary_color;

	a {
		color: #fff;

		&:hover {
			color: #39164c;
		}
	}
}

div[role="article"] {
	padding: 1.25em;
	box-sizing: border-box;
}

.preamble, .participation, .requirements {
	border: .75em solid #000;
}

div[class="explanation"] {
	background: #39164c;
	color: #fff;
}

.benefits {
	background: #dbf52b;
}

footer {
	background: #63e9fc;
	padding: 1.25em 0;
	text-align: center;

	a {
		margin: .25em;
	}
}

















