/* STYLING FOR MEDIUM SCREEN WIDITHS */

@media screen and(min-width: 444px) {

header[role=banner] {

	h1, h2 {
		color: #000;
		margin: none;
		text-align: right;
		text-shadow: none;
	}

	h1 {
		font-size: 2.8em;

		&::before {
			background: url("images/barcode.svg");
			background-size: 100%;
			content: "";
			display: inline-block;
			max-width: 5em;
			right: 10px;
		}
	}

	h2 {
		font-size: 1.7em;
	}
}


}