/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* TEXT STYLING BELOW - INCLUDES HIGHLIGHT OPTIONS AND ABBREVIATIONS */
h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, abbr::selection {
  color: #63e9fc;
  background: black;
  text-shadow: 1px 1px 0 #eb485b, 2px 2px 0 #eb485b; }

h1, h2, h3, h4, h5, h6 {
  font-family: "bebas-neue", "oswald", sans-serif;
  margin: 1.3em 0 .5em;
  text-transform: uppercase;
  text-shadow: -1px -1px 0px #63e9fc, -2px -2px 0px #63e9fc; }

h1 {
  font-size: 4em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 1.75em; }

p, a, li {
  font-family: "source code pro", monotype;
  font-style: italic;
  font-weight: 400; }
  p::selection, a::selection, li::selection {
    color: #96ffa4;
    background: black; }

a {
  color: #eb485b;
  text-decoration: none; }
  a:hover {
    color: #b91427; }

/* BASE STYLING - ALSO APPLIES TO X-SMALL SCREENS (sub 432px) */
header[role=banner] {
  padding: 5em .5em 1em .5em; }
  header[role=banner] h1, header[role=banner] h2 {
    color: #000;
    margin: none;
    text-align: center;
    text-shadow: none; }
  header[role=banner] h1 {
    font-size: 2.8em; }
    header[role=banner] h1::before {
      content: url("images/barcode.svg");
      max-width: 5em; }
  header[role=banner] h2 {
    font-size: 1.7em; }

h3 {
  font-size: 1.6em; }

.summary {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 1em 0;
  background: #eb485b; }
  .summary a {
    color: #fff; }
    .summary a:hover {
      color: #39164c; }

div[role="article"] {
  padding: 1.25em;
  box-sizing: border-box; }

.preamble, .participation, .requirements {
  border: .75em solid #000; }

div[class="explanation"] {
  background: #39164c;
  color: #fff; }

.benefits {
  background: #dbf52b; }

footer {
  background: #63e9fc;
  padding: 1.25em 0;
  text-align: center; }
  footer a {
    margin: .25em; }

/* STYLING FOR MEDIUM SCREEN WIDITHS */
@media screen and (min-width: 444px) {
  header[role=banner] h1, header[role=banner] h2 {
    color: #000;
    margin: none;
    text-align: right;
    text-shadow: none; }
  header[role=banner] h1 {
    font-size: 2.8em; }
    header[role=banner] h1::before {
      background: url("images/barcode.svg");
      background-size: 100%;
      content: "";
      display: inline-block;
      max-width: 5em;
      right: 10px; }
  header[role=banner] h2 {
    font-size: 1.7em; } }

/*# sourceMappingURL=main.css.map */
