@media screen and (min-width: 530px) {
	
	
	main {
		padding: 1.25em;
	}

	.section_md {
		@include grid(3);
		padding: 0;
		margin-bottom: 1.25em;
		height: 280px;

		.pub_info {
			background-color: #fff;
			bottom: .5em;
			left: .5em;
			position: absolute;
			width: 100%;
		}

		.pub_icon {
			display: inline-block;
		}

		.action_icons {
			display: none;
		}
	
		#dean, #tiles, #cartoon, #holga, #googogle, #jcrew, #tumblr {
			clear: both;
			display: block;
			height: 9.5em;
			position: static;
			right: auto;
			top: auto;
			width: auto;
			}
		}
	}