section {
	border-bottom: .125em solid #f7f8fb;
	clear: both;
	line-height: .1em;
	overflow: hidden;
	
	.article_info {
		float: left;
	}

	h5 {
		color: #99999c;
		font-size: .75em;
	}

	img {
		float: right;
		width: 20%;
	}
}