section {
	background: #fff;
	border-bottom: .0625em solid #dcdce0;
	overflow: hidden;
	padding-left: .75em;
	position: relative;

	h3 {
		box-sizing: border-box;
		float: left;
		font-weight: 700;
		padding: .8em 2em 0 .5em;
		width: 80%;
	}

	p {
		clear: left;
		color: #99999c;
		padding: 0 .5em;
	}

	.pub_icon {
		visibility: hidden;
	}

	.action_icons {
		height: 1.25em;
		margin: .5em 0;
		width: 80%;
	}

	#dean {
		background: #fff url('../images/love_bug.jpg') 0 0 no-repeat;
		background-size: cover;
		background-position: 50%;
		height: 100%;
		position: absolute;
		right: 0;
		width: 80px;
	}

	#tiles {
		@extend #dean;
		background: #fff url('../images/tiles.jpg') 0 0 no-repeat;
		background-size: cover;
		background-position: 50%;
	}

	#cartoon {
		@extend #dean;
		background: #fff url('../images/cartoon.jpg') 0 0 no-repeat;
		background-size: cover;
		background-position: 50%;
	}

	#holga {
		@extend #dean;
		background: #fff url('../images/instagram.jpg') 0 0 no-repeat;
		background-size: cover;
		background-position: 50%;
	}

	#googogle {
		@extend #dean;
		background: #fff url('../images/google.jpg') 0 0 no-repeat;
		background-size: cover;
		background-position: 50%;
	}

	#jcrew {
		@extend #dean;
		background: #fff url('../images/jcrew.jpg') 0 0 no-repeat;
		background-size: cover;
		background-position: 50%;
	}

	#tumblr {
		@extend #dean;
		background: #fff url('../images/tumblr.jpg') 0 0 no-repeat;
		background-size: cover;
		background-position: 50%;
	}

}