@mixin em_conv($font-size) {
	font-size: ($font-size*16) + px; 
	font-size: $font-size + em;
}

body {
	background-color: #f4f4f6;
	margin: 53px 0;
}

h1, h2, h3, h4, h5, h6, p, a {
	color: #313131;
	font-family: 'Lato', sans-serif;
	line-height: 1.5em;
	margin: 0;
}

a {
	text-decoration: none;
	
	&:hover {
		color: #61c2bd;
	}	
}

h1 {
	@include em_conv(3);
}

h2 {
	@include em_conv(2.5);
}

h3 {
	@include em_conv(.98);
}

h4 {
	@include em_conv(.75);
}

h5 {
	@include em_conv(3);
}

h6 {
	@include em_conv(3);
}

p {
	@include em_conv(.75);
}