footer {
	background: $primary-color;
	border-top: .1rem solid #766f6f;
	bottom: 0;
	height: 50px;
	position: fixed;
	width: 100%;
}

#logo {
	float: left;
	height: 40px;
	margin: 3px .75rem;
}

#menu_icon {
	float: right;
	height: 25px;
	margin: .75rem;
}