/* items hidden by default */

#contact_info {
	color: #fff;
	display: none;
	position: fixed;
	width: 75%;
	left: 50%;
	margin: 1.0625rem 0 0 -37.5%;
}

#logo_full {
	display: none;
	float: left;
	height: 40px;
	margin: .75rem;
}

.large_screen {
	display: none;
}

.social_icons {
	display: none;
}

.slicknav_menu {
	display:none;
}