/* items hidden by default */

#contact_info {
	color: #fff;
	display: none;
	margin: 0 auto;
	text-align: center;
}

.large_screen {
	display: none;
	background: #555;
	bottom: 0;
	height: 35px;
	margin-bottom: 50px;
	position: fixed;
	width: 100%;

	li {
		display: inline-block;
		margin: 0 auto;
	}

	.large_menu {
		
	}

	.social_icons {
		float: right;
	}
}