@media  screen and(min-width: 900px) {
	
	footer {
		height: 70px;
	}

	main {
		padding-bottom: 5rem;
	}

	.large_screen {
		display: block;
		border-top: 2px solid lighten(#FF5D8B, 20%);
		background: rgba(255, 93, 139, .82);
		bottom: 0;
		height: 50px;
		margin-bottom: 70px;
		position: fixed;
		width: 100%;

	ul {
		padding: .1rem .5rem;
		text-align: center;
	}

	li {
		display: inline-block;
		margin: .5em;
		}
	}	

	.social_icons {
		float: right;
	}

	#logo_full {
		display: inline-block;
	}

	.menu {
		@include span-columns(4);
		@include omega (3n);
		verflow: hidden;

		&:last-child {
			clear: both;
		}

		&:nth-child(2n) {
			margin-right: $gutter;
		}

		&:nth-child(3n) {
			float: left;
			clear: none;
		}
	}

	#menu_title {
		display: block;
	}

	#menu_icon {
		display: none;
	}

	#logo {
		display: none;
	}
}
