nav {
	background: $background-color;
	border-bottom: .1rem solid darken($background-color, 35%);
	box-sizing: border-box;
	height: 40px;
	overflow: hidden;
	padding: .75rem;
	position: fixed;
	min-width: 295px;

	ul {
		float: left;
	}

	li {
		color: $primary-color;
		display: inline-block;
		font-family: 'Josefin sans', sans-serif;
		font-size: 1.15rem;
		font-weight: 400;
		padding: 1%;
		text-decoration: none;
	
		&:hover {
			color: $accent01;
		}
	}	
}
