$primary-color: #344254;
$background-color: #FFFAF4;
$text-color: #4A1326;
$accent01: #78CDB0;

body {
	background: $background-color;
}

main {
	padding: 50px 2%;
}

h1, h2, h2, h4, h5, h6, p, a {
	$em-base: 16px;
	color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "josefin sans", sans-serif;
}

h1 {
	font-size: 2.5rem;
	line-height: 4rem;
}

h3 {
	font-size: 1.8rem;
	line-height: 3rem;
	font-weight: 100;
}

h4 {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	line-height: 1.5em;
}

p {
	font-family: 'Roboto Slab', serif;
	font-weight: 100;
	line-height: 1.3em;
}

.current {
	color: $accent01;
}

#large_menu {

	li {
		color: $text-color;
		font-family: "Josefin sans", sans-serif;
		font-size: 1.75rem;

		&:hover {
			color: $accent01;
		}
	}
}
