/* bourbon usage across all 3 page sizes.

neat grid system incorporated beginning at 500px...*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* items hidden by default */
#contact_info {
  color: #fff;
  display: none;
  margin: 0 auto;
  text-align: center; }

#logo_full {
  display: none;
  float: left;
  height: 40px;
  margin: .75rem; }

.large_screen {
  display: none;
  background: #555;
  bottom: 0;
  height: 35px;
  margin-bottom: 70px;
  position: fixed;
  width: 100%; }
  .large_screen li {
    display: inline-block;
    margin: 0 auto; }
  .large_screen .social_icons {
    float: right; }

body {
  background: #fbfbf2; }

main {
  padding: 50px 1.25%; }

h1, h2, h2, h4, h5, h6, p, a {
  color: #3e3437; }

h1, h2, h3, h4, h5, h6 {
  font-family: "josefin sans", sans-serif; }

h1 {
  font-size: 2.5rem;
  line-height: 4rem; }

h3 {
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 100; }

h4 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700; }

p {
  font-weight: 100; }

nav {
  background: #3e3437;
  border-bottom: .1rem solid #766f6f;
  box-sizing: border-box;
  height: 40px;
  padding: 10px;
  position: fixed;
  width: 100%; }
  nav ul {
    float: left; }
  nav li {
    color: #fff;
    display: inline-block;
    font-family: 'Josefin sans', sans-serif;
    font-size: 1.15rem;
    font-weight: 400;
    padding: 1%;
    text-decoration: none; }
    nav li:hover {
      color: #71cdc2; }

.menu_items li {
  line-height: 1em;
  margin: 1.25em 0; }

footer {
  background: #3e3437;
  border-top: .1rem solid #766f6f;
  bottom: 0;
  height: 50px;
  position: fixed;
  width: 100%; }

#logo {
  float: left;
  height: 40px;
  margin: 3px .75rem; }

#menu_icon {
  float: right;
  height: 25px;
  margin: .75rem; }

@media screen and (min-width: 500px) {
  section .menu_wrapper {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    section .menu_wrapper::after {
      clear: both;
      content: "";
      display: table; }

  .menu {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .menu:last-child {
      margin-right: 0; }

  #contact_info {
    display: inline-block; } }
@media screen and (min-width: 900px) {
  footer {
    height: 70px; }

  .large_screen {
    display: block; }

  #logo_full {
    display: inline-block; }

  .menu {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    overflow: hidden; }
    .menu:last-child {
      margin-right: 0; }

  #menu_title {
    display: block;
    width: 48%;
    float: left; }

  #menu_icon {
    display: none; }

  #logo {
    display: none; }

  nav {
    background: none;
    border-bottom: none;
    box-sizing: border-box;
    float: right;
    height: 40px;
    margin-top: 65px;
    padding: 10px;
    position: static;
    width: 50%; }
    nav ul {
      float: right; }
    nav li {
      color: #3e3437;
      display: inline-block;
      font-family: 'Josefin sans', sans-serif;
      font-size: 1.5rem;
      font-weight: 400;
      padding: 1%;
      text-decoration: none; }
      nav li:hover {
        color: #71cdc2; } }

/*# sourceMappingURL=main.css.map */
