/* bourbon usage across all 3 page sizes.

neat grid system incorporated beginning at 500px...*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  background: #FFFAF4; }

main {
  padding: 50px 2%; }

h1, h2, h2, h4, h5, h6, p, a {
  color: #4A1326; }

h1, h2, h3, h4, h5, h6 {
  font-family: "josefin sans", sans-serif; }

h1 {
  font-size: 2.5rem;
  line-height: 4rem; }

h3 {
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 100; }

h4 {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  line-height: 1.5em; }

p {
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  line-height: 1.3em; }

.current {
  color: #78CDB0; }

#large_menu li {
  color: #4A1326;
  font-family: "Josefin sans", sans-serif;
  font-size: 1.75rem; }
  #large_menu li:hover {
    color: #78CDB0; }

.slicknav_menu {
  font-size: 16px;
  box-sizing: border-box;
  background: #4c4c4c;
  padding: 5px; }
  .slicknav_menu * {
    box-sizing: border-box; }
  .slicknav_menu .slicknav_menutxt {
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 3px #000; }
  .slicknav_menu .slicknav_icon-bar {
    background-color: #fff; }

.slicknav_btn {
  margin: 5px 5px 6px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #222; }

.slicknav_nav {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 0.875em;
  list-style: none;
  overflow: hidden; }
  .slicknav_nav ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0 0 0 20px; }
  .slicknav_nav .slicknav_row {
    padding: 5px 10px;
    margin: 2px 5px; }
    .slicknav_nav .slicknav_row:hover {
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      background: #ccc;
      color: #fff; }
  .slicknav_nav a {
    padding: 5px 10px;
    margin: 2px 5px;
    text-decoration: none;
    color: #fff; }
    .slicknav_nav a:hover {
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      background: #ccc;
      color: #222; }
  .slicknav_nav .slicknav_txtnode {
    margin-left: 15px; }
  .slicknav_nav .slicknav_item a {
    padding: 0;
    margin: 0; }
  .slicknav_nav .slicknav_parent-link a {
    padding: 0;
    margin: 0; }

.slicknav_brand {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  padding: 7px 12px;
  height: 44px; }

.slicknav_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding: 0.438em 0.625em 0.438em 0.625em;
  line-height: 1.125em;
  cursor: pointer; }
  .slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
    margin-top: 0.188em; }

.slicknav_menu {
  *zoom: 1; }
  .slicknav_menu .slicknav_menutxt {
    display: block;
    line-height: 1.188em;
    float: left; }
  .slicknav_menu .slicknav_icon {
    float: left;
    margin: 0.188em 0 0 0.438em; }
  .slicknav_menu .slicknav_no-text {
    margin: 0; }
  .slicknav_menu .slicknav_icon-bar {
    display: block;
    width: 1.125em;
    height: 0.125em;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
  .slicknav_menu:before {
    content: " ";
    display: table; }
  .slicknav_menu:after {
    content: " ";
    display: table;
    clear: both; }

.slicknav_nav {
  clear: both; }
  .slicknav_nav ul {
    display: block; }
  .slicknav_nav li {
    display: block; }
  .slicknav_nav .slicknav_arrow {
    font-size: 0.8em;
    margin: 0 0 0 0.4em; }
  .slicknav_nav .slicknav_item {
    cursor: pointer; }
    .slicknav_nav .slicknav_item a {
      display: inline; }
  .slicknav_nav .slicknav_row {
    display: block; }
  .slicknav_nav a {
    display: block; }
  .slicknav_nav .slicknav_parent-link a {
    display: inline; }

.slicknav_brand {
  float: left; }

/* items hidden by default */
#contact_info {
  color: #fff;
  display: none;
  position: fixed;
  width: 75%;
  left: 50%;
  margin: 1.0625rem 0 0 -37.5%; }

#logo_full {
  display: none;
  float: left;
  height: 40px;
  margin: .75rem; }

.large_screen {
  display: none; }

.social_icons {
  display: none; }

nav {
  background: #FFFAF4;
  border-bottom: 0.1rem solid #ffa942;
  box-sizing: border-box;
  height: 40px;
  overflow: hidden;
  padding: .75rem;
  position: fixed;
  min-width: 295px; }
  nav ul {
    float: left; }
  nav li {
    color: #344254;
    display: inline-block;
    font-family: 'Josefin sans', sans-serif;
    font-size: 1.15rem;
    font-weight: 400;
    padding-right: 2.25%;
    text-decoration: none; }
    nav li:hover {
      color: #78CDB0; }

/* INTITIAL STYLING FOR HOME PAGE
	THIS SECTION CONTAINS BASE LAYOUT STYLING */
.main_header {
  background: linear-gradient(rgba(115, 20, 60, 0.4), rgba(80, 0, 30, 0.25)), url(../images/cheznous_int_01.jpg);
  background-size: cover;
  background-position: 60%;
  height: 26em; }
  .main_header .header_logo {
    display: block;
    max-width: 12em;
    margin: 0 auto;
    padding-top: 5em; }

.greeting {
  background: #FF5D8B;
  color: #FFFAF4;
  font-weight: 400;
  text-align: center; }

.menu_items {
  padding: 5% 3%; }
  .menu_items li {
    line-height: 1em;
    margin: 1.25em 0; }

.menu_wrapper {
  padding-bottom: 2rem;
  overflow: hidden; }

footer {
  background: #344254;
  border-top: 0.1rem solid #44566d;
  bottom: 0;
  height: 50px;
  text-align: center;
  position: fixed;
  width: 100%; }

#logo {
  left: .5rem;
  height: 40px;
  margin: 3px .75rem;
  position: fixed; }

#menu_icon {
  height: 25px;
  margin: .75rem;
  right: .5rem;
  position: fixed; }

@media screen and (min-width: 500px) {
  section .menu_wrapper {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    section .menu_wrapper::after {
      clear: both;
      content: "";
      display: table; }

  .menu {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    overflow: hidden; }
    .menu:last-child {
      margin-right: 0; }
    .menu:nth-child(2n) {
      margin-right: 0; }
    .menu:nth-child(2n+1) {
      clear: left; }
    .menu:nth-child(3n) {
      clear: both; }

  #contact_info {
    display: block; }

  nav {
    right: 0;
    overflow: hidden;
    height: 3rem; }
    nav li {
      font-size: 1.55rem; } }
@media screen and (min-width: 900px) {
  footer {
    height: 70px; }

  main {
    padding-bottom: 5rem; }

  .large_screen {
    display: block;
    border-top: 2px solid #ffc3d4;
    background: rgba(255, 93, 139, 0.82);
    bottom: 0;
    height: 50px;
    margin-bottom: 70px;
    position: fixed;
    width: 100%; }
    .large_screen ul {
      padding: .1rem .5rem;
      text-align: center; }
    .large_screen li {
      display: inline-block;
      margin: .5em; }

  .social_icons {
    float: right; }

  #logo_full {
    display: inline-block; }

  .menu {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    verflow: hidden; }
    .menu:last-child {
      margin-right: 0; }
    .menu:nth-child(3n) {
      margin-right: 0; }
    .menu:nth-child(3n+1) {
      clear: left; }
    .menu:last-child {
      clear: both; }
    .menu:nth-child(2n) {
      margin-right: 1.618em; }
    .menu:nth-child(3n) {
      float: left;
      clear: none; }

  #menu_title {
    display: block; }

  #menu_icon {
    display: none; }

  #logo {
    display: none; } }

/*# sourceMappingURL=main.css.map */
